<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book</title>
</head>
<link rel="stylesheet" type="text/css" href="../style.css">

<body class="addBook">
    <h1 class="heading_addBook">Add New Book</h1>
    <div class="table">
        <form id="addNewBook">
            <table>

                <tr>
                    <td>TITLE :</td>
                    <td><input type="text" name="TITLE" id="ttl"></td><br>
                </tr>
                <tr>
                    <td>AUTHOR :</td>
                    <td><input type="text" name="AUTHOR" id="atr"></td><br>
                </tr>
                <tr>
                    <td>PRICE :</td>
                    <td><input type="text" name="PRICE" id="prc"></td><br>
                </tr>
                <br><br>

                <tr>
                    <td><input type="submit" name="Submit" id="smt"></td>
                </tr>
            </table>
        </form>
        <div>
            <script type="text/javascript" src="/src/addBook.js"></script>
</body>

</html>