<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
</head>
<link rel="stylesheet" type="text/css" href="../style.css">

<body>
    <table>
        <thead>
            <tr>
                <th>Book Id</th>
                <th>Book Title</th>
                <th>Book Author</th>
                <th>Book Cost</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody id="tble">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>

        </tbody>
    </table>

</body>

</html>